# 주요 자료형

# 리스트 자료형

In [3]:
#리스트 만들기
odd = [1,3,5,7,9]

In [4]:
#리스트 중요한점, 순서!!! index!!
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [5]:
s = "spring"
s[0]
a = [11,22,33,44,55]
print(a[0] + a[3])

55

In [6]:
a = 'banana'
print(id(a))
b = a
print(id(b))
b = 'kiwi'
print(id(b))
print(a)
print(b)

140442927940592
140442927940592
140442927954704
banana
kiwi

In [10]:
aa = [11, 22, 33]
print(id(aa))
bb = aa
print(id(bb))
bb = [1, 3, 5]
print(id(bb))
print(aa)
print(bb)

140442896437120
140442896437120
140442896429568
[11, 22, 33]
[1, 3, 5]

In [11]:
# 배열 초기화
cc = []
print(cc, type(cc))
dd = list()
print(dd, type(dd))

[] <class 'list'>
[] <class 'list'>

In [14]:
# 2중배열
li = [1,2,3,4,5,[11,22,33]]
print(li)

[1, 2, 3, 4, 5, [11, 22, 33]]

In [13]:
print(li[0])
print(li[4])
print(li[-1])
print(li[4][1])

1
[11, 22, 33]
[11, 22, 33]
22

In [24]:
a = [1, 2, 3, ['a', 'b', 'c', ['ok', 'life', 'is']]]
# 'life' !!
print(a[-1][-1][-2])

life

In [27]:
# a = [1, 2, 3, ['a', 'b', 'c', ['ok', 'life', 'is']]]
# 'life' !!
a = [1, 2, 3, ['a', 'b', 'c', ['ok', 'life', 'is']]]
print(a[-1][-1][-2])

life

In [25]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:2])
print(a[1:2])
print(a[3:])

[11, 22]
[22]
[44, 55]

In [26]:
# 중첩된 리스트에서 슬라이싱 하기
a = [1, 2, ['0', '1', 'a', 'b', 'c'], 4, 5]
# ['a', 'b', 'c']

In [28]:
# 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [29]:
# 리스트 반복(곱하기)
c = a * 4
print(c, len(c))

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3] 12

In [32]:
# 리스트의 수정과 삭제
a = [11, 22, 33]
b = a
a[2] = 777
print(a) # 파일 원본이 바뀌었다.
print(b)

[11, 22, 777]
[11, 22, 777]

In [33]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
# del 요소삭제
aa = [11,22,33,44,55]
del aa[2]
print(aa)

[11, 22, 44, 55]

In [35]:
# del 요소삭제2 (슬라이싱으로 삭제)
aa = [11,22,33,44,55]
del aa[1:3]
print(aa)

[11, 44, 55]

In [36]:
ss = ['나는', '오늘' ,'잠을', '잔다']
print(ss)
del ss[-1]
print(ss)
del ss[-1]
print(ss)
del ss[-1]
print(ss)
del ss[-1]
print(ss)

['나는', '오늘', '잠을', '잔다']
['나는', '오늘', '잠을']
['나는', '오늘']
['나는']
[]

### 리스트 관련함수

In [38]:
# append - 추가하기
a = []
print(a)
a.append(1)
print(a)
a.append(2)
print(a)
a.append([11,22,33])
print(a)
a.append(4)
print(a)

[]
[1]
[1, 2]
[1, 2, [11, 22, 33]]
[1, 2, [11, 22, 33], 4]

In [41]:
# sort - 리스트 정렬
a = [5,43,5,6,56,3,2,4,1]
b = ['gf', 'f', 'u', 'a', 'e', 'f', 'z', 'c']
a.sort()
a.sort()
print(a)
print(b)

[1, 2, 3, 4, 5, 5, 6, 43, 56]
['gf', 'f', 'u', 'a', 'e', 'f', 'z', 'c']

In [44]:
# sort - 리스트 뒤집기
a = [5,43,5,6,56,3,2,4,1]
b = ['gf', 'f', 'u', 'a', 'e', 'f', 'z', 'c']
print(a[::-1])
print(b[::-1])
# a.reverse()
# a.reverse()
print(a)
print(b)

[1, 4, 2, 3, 56, 6, 5, 43, 5]
['c', 'z', 'f', 'e', 'a', 'u', 'f', 'gf']
[5, 43, 5, 6, 56, 3, 2, 4, 1]
['gf', 'f', 'u', 'a', 'e', 'f', 'z', 'c']

In [45]:
# sort 와 reverse 응용
a = [5, 43,5,6,56,3,2,4,1]
a.sort()
a.reverse() # a[::-1]
print(a)
b = [5,43,5,6,56,3,2,4,1]
b.sort(reverse=True) #True는 내림차순, False 오름차순이 기본값
print(b)

[56, 43, 6, 5, 5, 4, 3, 2, 1]
[56, 43, 6, 5, 5, 4, 3, 2, 1]

In [47]:
# sorted - 원본 유지하기
aa = [66,7,8,99,0]
print(sorted(aa))
print(sorted(aa,reverse=True))
print(aa)

[0, 7, 8, 66, 99]
[99, 66, 8, 7, 0]
[66, 7, 8, 99, 0]

In [50]:
# sorted 응용하기
fruit = ['banana', 'kiwi', 'orange', 'melon', 'apple', 'strawberry']
print(sorted(fruit))
print(sorted(fruit,key=len))
print(sorted(fruit,key=len,reverse=True))

['apple', 'banana', 'kiwi', 'melon', 'orange', 'strawberry']
['kiwi', 'melon', 'apple', 'banana', 'orange', 'strawberry']
['strawberry', 'banana', 'orange', 'melon', 'apple', 'kiwi']

In [53]:
# index - 인덱스반환
a = [1,2,3,4,5,6,7,8,9]
print(a,index(6))
#print(a.index(11)) # 없으면 오류

NameError: name 'index' is not defined

In [69]:
# index 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'apple', 'strawberry']
inp = input("먹고싶은 과일명을 입력하세요.")
where = fruit.index(inp)
# melon 을 선택 -> melon 인덱스 추출 ->
# ??    ??
print(f"{inp}을 좋아하시는 군요. {where + 1} 번째에 있습니다.")

먹고싶은 과일명을 입력하세요. apple

apple을 좋아하시는 군요. 5 번째에 있습니다.

In [71]:
# insert 리스트에 요소삽입 *
a = [1,2,3,4,5,6]
a.insert(0,11)
print(a)
a.insert(3,22)
print(a)
a.insert(4,[1,2,3])
print(a)
a.insert(len(a),777) # 배열의 맨뒤에 추가하려면 len()사용, append와 같음
print(a)

[11, 1, 2, 3, 4, 5, 6]
[11, 1, 2, 22, 3, 4, 5, 6]
[11, 1, 2, 22, [1, 2, 3], 3, 4, 5, 6]
[11, 1, 2, 22, [1, 2, 3], 3, 4, 5, 6, 777]

In [73]:
# remove 리스트 요소 제거
a = [1,2,3] * 3
print(a)
a.remove(2)
print(a)
a.remove(2)
print(a)
a.remove(2)
print(a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 3, 1, 2, 3, 1, 2, 3]
[1, 3, 1, 3, 1, 2, 3]
[1, 3, 1, 3, 1, 3]

In [74]:
# pop 리스트 요소 꺼내기 **
a = [1,2,3,4,5]
out = a.pop(0) # 값을 넣으면 인덱스의 요소를 반환하고 그 요소를 삭제한다.
print(out, a)  # 값이 없을 때(기본값)는 맨 뒤에서 부터 꺼내면서 삭제.
out = a.pop(0)
print(out, a)
out = a.pop(0)
print(out, a)
out = a.pop(0)
print(out, a)
out = a.pop(0)
print(out, a)

1 [2, 3, 4, 5]
2 [3, 4, 5]
3 [4, 5]
4 [5]
5 []

In [75]:
# count 리스트에 포함된 요소 개수세기
a = [2,3,4,6]*2 +[1,2,3]*2
print(a, a.count(4))

[2, 3, 4, 6, 2, 3, 4, 6, 1, 2, 3, 1, 2, 3] 2

In [76]:
# extend 리스트 확장
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 장바구니
bag = [] # bag = list()

In [83]:
# append를 이용한 자료넣기
item = input("필요한 항목을 넣어주세요.")
bag.append(item)
print("장바구니에는 {0} 들이 들어있습니다.".format(bag))

필요한 항목을 넣어주세요. 고구마

장바구니에는 ['고구마'] 들이 들어있습니다.

In [82]:
# FIFO
hand = bag.pop(0)
print("%s를 꺼내서 장바구니에 %s 가 남았습니다." %(hand, bag))

호박를 꺼내서 장바구니에 [] 가 남았습니다.

- 선택 출력

> "바구니에 ['호박', '감자', '소주', '맥주', '피자', '치킨']이 있습니다.")
> "꺼내고 싶은 물품을 입력하세요"
> "바구니에서 ??? 을 꺼내어 [ ~, ~ , ~,~ ] 가 남았습니다"

In [37]:
# 풀이
bag = ['호박', '감자', '소주', '맥주', '피자', '치킨']
inp = input("꺼내고 싶은 물품을 입력하세요.")
hand = bag.pop(bag.index(inp))
print(f"바구니에서 {inp} 을 꺼내어 {bag}가 남았습니다.")

꺼내고 싶은 물품을 입력하세요. 호박

바구니에서 호박 을 꺼내어 ['감자', '소주', '맥주', '피자', '치킨']가 남았습니다.

In [23]:
# 문제2
# 위치지정 물품추가
box = ['호박', '감자', '소주', '맥주', '피자', '치킨']
# 입력받기1: "추가할 물건 이름을 적어주세요"
# 입력받기2: "어느 물품 뒤에 넣어둘까요?"
# box 를 출력하기

In [65]:
box = ['호박', '감자', '소주', '맥주', '피자', '치킨']

inp1 = input("추가할 물건 이름을 적어주세요: ")
inp2 = input("어느 물품 뒤에 넣어둘까요?: ")

# 해당 물건 위치 찾기
index = box.index(inp2)

# 그 뒤에 추가 ( +1 )
box.insert(index + 1, inp1)

print(f"바구니에서 {inp1} 을 추가해 {box}가 있습니다.")

추가할 물건 이름을 적어주세요:  라면
어느 물품 뒤에 넣어둘까요?:  호박

바구니에서 라면 을 추가해 ['호박', '라면', '감자', '소주', '맥주', '피자', '치킨']가 있습니다.

# 튜블 자료형

In [1]:
t1 = ()
t2 = (1,) # *
t3 = (1, 2, 3)
t4 = 1, 2, 3 # *
t5 = ('a', 'b', ('ab', 'cd'))

In [3]:
# 주의점
t2 = (4324,)
print(type(t2))
t4 = 123, 1233
print(type(t4))

<class 'tuple'>
<class 'tuple'>

In [8]:
# 튜플 요솟값 삭제
t = (1,2,'a','b')
# del t1[0]

In [7]:
# 튜플 요솟값 삭제
t = (1,2,'a','b')
# del t1[1]

In [11]:
# 인덱싱 하기
t1 = 1,2,'a','b'
print(t1[0])
print(t1[3])

1
b

In [12]:
#슬라이싱 하기
t1 = 1,2,'a','b'
t2 = t1[2:]
print(t1, t2)

(1, 2, 'a', 'b') ('a', 'b')

In [13]:
#튜블더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

In [16]:
# 튜블 길이 구하기
t1 = (1, 2, 'a', 'b')
print(len(t1))

4

In [39]:
# 딕셔너리 초기화
dic0 = {}
print(dic0, type(dic0))
dic1 = dict()
print(dic1, type(dic1))

{} <class 'dict'>
{} <class 'dict'>

<div class="table-scroll-wrapper"><table>
<thead>
<tr>
<th>key</th>
<th>value</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>pey</td>
</tr>
<tr>
<td>phone</td>
<td>010-9999-1234</td>
</tr>
<tr>
<td>birth</td>
<td>1118</td>
</tr>
</tbody>
</table></div>

In [20]:
# 딕셔너리 만들기(딕셔너리는 순서 필요 없음)
dic0 = {2:"banana",1:"apple",2:"kiwi",3:"orange"}
dic1 = {"name": "pey", "phon" :"010-9999-1234", "birth":"1118" }
dic0[2]

'kiwi'

In [21]:
print(dic1)

{'name': 'pey', 'phon': '010-9999-1234', 'birth': '1118'}

In [22]:
dic1['address'] = "부산"

In [31]:
print(dic1)
dic1[1] = '일'
print(dic1)

{'name': 'pey', 'phon': '010-9999-1234', 'birth': '1118', 'address': '부산', 1: '일', '리스트': [11, 22, 33], '튜플': (44, 55, 66), '딕셔너리': {'name': '홍길동'}}
{'name': 'pey', 'phon': '010-9999-1234', 'birth': '1118', 'address': '부산', 1: '일', '리스트': [11, 22, 33], '튜플': (44, 55, 66), '딕셔너리': {'name': '홍길동'}}

In [26]:
dic1['1'] = '일'
print(dic1)

{'name': 'pey', 'phon': '010-9999-1234', 'birth': '1118', 'address': '부산', 1: '일', '1': '일'}

In [29]:
# 딕셔너리 내부 다른 자료형
dic1['리스트'] = [11,22,33]
dic1['튜플'] = 44,55,66
dic1['딕셔너리'] = {"name":"홍길동"}
print(dic1)

{'name': 'pey', 'phon': '010-9999-1234', 'birth': '1118', 'address': '부산', 1: '일', '1': '일', '리스트': [11, 22, 33], '튜플': (44, 55, 66), '딕셔너리': {'name': '홍길동'}}

In [30]:
# 쌍 삭제
del dic1['1']
print(dic1)

{'name': 'pey', 'phon': '010-9999-1234', 'birth': '1118', 'address': '부산', 1: '일', '리스트': [11, 22, 33], '튜플': (44, 55, 66), '딕셔너리': {'name': '홍길동'}}

In [33]:
# 문제
obj = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
#변경 김연아 : 은퇴
obj["김연아"] = "은퇴"
#추가 김연경 : 배구
obj["김연경"] = "배구"
#삭제 귀도
del obj["귀도"]
print(obj)

{'김연아': '은퇴', '류현진': '야구', '손흥민': '축구', '김연경': '배구'}

In [42]:
# 주의사항
# key가 두개 이상이면 안된다.
a = {1: 'a', 1: 'b'}
print(a)
# key 값에는 리스트나 딕셔너리같은 mutable 형식이 되면 안된다. (튜블가능)
# a = {[1,2]: 'hi'}
# key 값에 딕셔너리 ?
# a = {{1:'hello'}:'hi'}
print(a)

{1: 'b'}
{1: 'b'}

# 1.3.1 딕셔너리 관련함수

In [49]:
# keys 키 리스트 만들기
a = {"name": "pey", "phone": "010-9999-1234", "birth": "1118"}
ky = a.keys()
l_ky = list(ky)
print(ky,type(a),type(ky),sep="\n")

dict_keys(['name', 'phone', 'birth'])
<class 'dict'>
<class 'dict_keys'>

In [54]:
# values 값 리스트 만들기
a = {"name": "pey", "phone": "010-9999-1234", "birth": "1118"}
va = a.values()
l_va = list(va)
print(va,type(a),type(va),type(l_va),sep="\n")

dict_values(['pey', '010-9999-1234', '1118'])
<class 'dict'>
<class 'dict_values'>
<class 'list'>

In [55]:
# items 키값쌍을 리스트안의 튜블로 만들기
a = {"name": "pey", "phone": "010-9999-1234", "birth": "1118"}
it = a.items()
l_it = list(va)
print(va,type(a),type(va),type(l_it),sep="\n")

dict_values(['pey', '010-9999-1234', '1118'])
<class 'dict'>
<class 'dict_values'>
<class 'list'>

In [56]:
# clear 키값쌍 모두 지우기
a = {"name": "pey", "phone": "010-9999-1234", "birth": "1118"}
print(a)
a.clear()
print(a)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
{}

In [59]:
# get 키로 값얻기
a = {"name": "pey", "phone": "010-9999-1234", "birth": "1118"}
print(a.get('ok','없습니다.'))

없습니다.

In [60]:
# in 해당 키 값 조사하기 **
a = {"name": "pey", "phone": "010-9999-1234", "birth": "1118"}

print("name" in a)
print("phone" in a)
print("ok" in a)

True
True
False

In [61]:
# pop 가져와서 삭제하기
a = {"name":"pey","phone":"010-9999-1234","birth":"1118"}
pp = a.pop("phone")
print("꺼낸값:",pp)
print("남은값:",a)

꺼낸값: 010-9999-1234
남은값: {'name': 'pey', 'birth': '1118'}

In [111]:
# 응용실습
import requests as r
url = "https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=5NI1wgZX5OHJXox7MUewT3TwrjmvStFA&data=AP01"
result = r.get(url).json()
print(result)

[{'result': 1, 'cur_unit': 'AED', 'ttb': '391.18', 'tts': '399.09', 'deal_bas_r': '395.14', 'bkpr': '395', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '395', 'kftc_deal_bas_r': '395.14', 'cur_nm': '아랍에미리트 디르함'}, {'result': 1, 'cur_unit': 'AUD', 'ttb': '1,005.46', 'tts': '1,025.77', 'deal_bas_r': '1,015.62', 'bkpr': '1,015', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,015', 'kftc_deal_bas_r': '1,015.62', 'cur_nm': '호주 달러'}, {'result': 1, 'cur_unit': 'BHD', 'ttb': '3,810.84', 'tts': '3,887.83', 'deal_bas_r': '3,849.34', 'bkpr': '3,849', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '3,849', 'kftc_deal_bas_r': '3,849.34', 'cur_nm': '바레인 디나르'}, {'result': 1, 'cur_unit': 'BND', 'ttb': '1,128.8', 'tts': '1,151.61', 'deal_bas_r': '1,140.21', 'bkpr': '1,140', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,140', 'kftc_deal_bas_r': '1,140.21', 'cur_nm': '브루나이 달러'}, {'result': 1, 'cur_unit': 'CAD', 'ttb': '1,051.17', 'tts': '1,072.4', 'deal_bas_r': '1,061.79', 'bkpr': '1,061', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,061', 'kftc_deal_bas_r': '1,061.79', 'cur_nm': '캐나다 달러'}, {'result': 1, 'cur_unit': 'CHF', 'ttb': '1,849.02', 'tts': '1,886.37', 'deal_bas_r': '1,867.7', 'bkpr': '1,867', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,867', 'kftc_deal_bas_r': '1,867.7', 'cur_nm': '스위스 프랑'}, {'result': 1, 'cur_unit': 'CNH', 'ttb': '207.13', 'tts': '211.32', 'deal_bas_r': '209.23', 'bkpr': '209', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '209', 'kftc_deal_bas_r': '209.23', 'cur_nm': '위안화'}, {'result': 1, 'cur_unit': 'DKK', 'ttb': '227.16', 'tts': '231.75', 'deal_bas_r': '229.46', 'bkpr': '229', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '229', 'kftc_deal_bas_r': '229.46', 'cur_nm': '덴마아크 크로네'}, {'result': 1, 'cur_unit': 'EUR', 'ttb': '1,696.29', 'tts': '1,730.56', 'deal_bas_r': '1,713.43', 'bkpr': '1,713', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,713', 'kftc_deal_bas_r': '1,713.43', 'cur_nm': '유로'}, {'result': 1, 'cur_unit': 'GBP', 'ttb': '1,961.01', 'tts': '2,000.62', 'deal_bas_r': '1,980.82', 'bkpr': '1,980', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,980', 'kftc_deal_bas_r': '1,980.82', 'cur_nm': '영국 파운드'}, {'result': 1, 'cur_unit': 'HKD', 'ttb': '183.9', 'tts': '187.61', 'deal_bas_r': '185.76', 'bkpr': '185', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '185', 'kftc_deal_bas_r': '185.76', 'cur_nm': '홍콩 달러'}, {'result': 1, 'cur_unit': 'IDR(100)', 'ttb': '8.56', 'tts': '8.73', 'deal_bas_r': '8.65', 'bkpr': '8', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '8', 'kftc_deal_bas_r': '8.65', 'cur_nm': '인도네시아 루피아'}, {'result': 1, 'cur_unit': 'JPY(100)', 'ttb': '916.13', 'tts': '934.64', 'deal_bas_r': '925.39', 'bkpr': '925', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '925', 'kftc_deal_bas_r': '925.39', 'cur_nm': '일본 옌'}, {'result': 1, 'cur_unit': 'KRW', 'ttb': '0', 'tts': '0', 'deal_bas_r': '1', 'bkpr': '1', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1', 'kftc_deal_bas_r': '1', 'cur_nm': '한국 원'}, {'result': 1, 'cur_unit': 'KWD', 'ttb': '4,703.5', 'tts': '4,798.53', 'deal_bas_r': '4,751.02', 'bkpr': '4,751', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '4,751', 'kftc_deal_bas_r': '4,751.02', 'cur_nm': '쿠웨이트 디나르'}, {'result': 1, 'cur_unit': 'MYR', 'ttb': '365.37', 'tts': '372.76', 'deal_bas_r': '369.07', 'bkpr': '369', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '369', 'kftc_deal_bas_r': '369.07', 'cur_nm': '말레이지아 링기트'}, {'result': 1, 'cur_unit': 'NOK', 'ttb': '148.54', 'tts': '151.55', 'deal_bas_r': '150.05', 'bkpr': '150', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '150', 'kftc_deal_bas_r': '150.05', 'cur_nm': '노르웨이 크로네'}, {'result': 1, 'cur_unit': 'NZD', 'ttb': '861.94', 'tts': '879.35', 'deal_bas_r': '870.65', 'bkpr': '870', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '870', 'kftc_deal_bas_r': '870.65', 'cur_nm': '뉴질랜드 달러'}, {'result': 1, 'cur_unit': 'SAR', 'ttb': '383.11', 'tts': '390.84', 'deal_bas_r': '386.98', 'bkpr': '386', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '386', 'kftc_deal_bas_r': '386.98', 'cur_nm': '사우디 리얄'}, {'result': 1, 'cur_unit': 'SEK', 'ttb': '159.85', 'tts': '163.08', 'deal_bas_r': '161.47', 'bkpr': '161', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '161', 'kftc_deal_bas_r': '161.47', 'cur_nm': '스웨덴 크로나'}, {'result': 1, 'cur_unit': 'SGD', 'ttb': '1,128.8', 'tts': '1,151.61', 'deal_bas_r': '1,140.21', 'bkpr': '1,140', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,140', 'kftc_deal_bas_r': '1,140.21', 'cur_nm': '싱가포르 달러'}, {'result': 1, 'cur_unit': 'THB', 'ttb': '45.32', 'tts': '46.23', 'deal_bas_r': '45.78', 'bkpr': '45', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '45', 'kftc_deal_bas_r': '45.78', 'cur_nm': '태국 바트'}, {'result': 1, 'cur_unit': 'USD', 'ttb': '1,436.68', 'tts': '1,465.71', 'deal_bas_r': '1,451.2', 'bkpr': '1,451', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,451', 'kftc_deal_bas_r': '1,451.2', 'cur_nm': '미국 달러'}]

In [118]:
# print(result,type(result))
print(result[-1]['cur_unit'],result[-1]['deal_bas_r'])

USD 1,451.2

In [165]:
# 이전에 알아낸 실시간 비트코인 BTC / USD 가격으로
# 실시간 환율을 계산하여
# 지금 비트코인 가격을 원화로 표시하시오.
# py 파일로 저장하여 python3 로 실행할 수 있도록 하시요.

import requests as req

# 비트코인 BTC
url_btc = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"

# 미국달러
url_usd = "https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=5NI1wgZX5OHJXox7MUewT3TwrjmvStFA&data=AP01"

result = r.get(url_btc).json()
url_btc = res[29:34]
won = str(int(url_btc)*1500)
print(result)

print( won[:1]+ '억' + won[1:5]+ '만' + won[5:]+ '원')

print(['cur_unit'],['deal_bas_r'])

{'symbol': 'BTCUSDT', 'price': '71416.83000000'}
1억0601만8500원
['cur_unit'] ['deal_bas_r']

# 1.4 집합 자료형

In [62]:
# 집합자료형 초기화
s1 = set()
print(s1, type(s1))

set() <class 'set'>

In [67]:
# set 자료형 중복허용 안함
li = [1,2,3] *2 + [1,22,33]*3
print(li)
s1 = set(li)
print(s1)

[1, 2, 3, 1, 2, 3, 1, 22, 33, 1, 22, 33, 1, 22, 33]
{1, 2, 3, 33, 22}

In [68]:
# set 자료형 순서없음, 인덱싱으로 요솟값을 얻을 수 없다.
s2 = set("Hello")
print(s2)

{'e', 'o', 'l', 'H'}

In [69]:
s1 = set([1, 2, 3])
l1 = list(s1)
print(l1)
print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

**문제**

access_logs = ["192.168.0.1", "192.168.0.2", "192.168.0.1", "10.0.0.1", "192.168.0.2", "192.168.0.5"]<br/>
>
1. 요구 사항: <br/>
    - access_logs를 set을 사용하여 중복을 제거하십시오.<br/>
    - 새로운 관리자 IP "192.168.0.99"를 추가하십시오.<br/>
    - 최종 고유 IP 개수를 출력하십시오.

In [75]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 교집합 & 
print("교집합",s1 & s2) # s1.intersection(s2) 가능
# 합집합 |
print("합집합",s1 | s2) # s1.union(s2) 가능
# 차집합 -
print("차집합",s1 - s2) # s1.difference(s2) 가능

교집합 {4, 5, 6}
합집합 {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 {1, 2, 3}

In [73]:
# odd 집합자료형 값1개 추가
s1 = set([1,2,3])
print(s1)
s1.add(4)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}

In [74]:
# update 집합자료형 값 여러개 추가하기
s1 = set([1,2,3])
print(s1)
s1.update([2,3,4,5,6,7])
print(s1)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}

In [77]:
# remove 집합자료형 특정 값 제거하기
s1 = set([1,2,3])
print(s1)
s2.remove(0) # index가 아닌 값으로 선택
print(s1)

{1, 2, 3}

KeyError: 0

In [79]:
# clear 집합자료형 내 모든 값 제거
s1 = set([1, 2, 3])
s1.clear()
print(s1)

set()

# 불 자료형

In [80]:
a = True
b = False
print(type(a),type(b))

<class 'bool'> <class 'bool'>

In [83]:
c = 13 == 4
print(c,type(c))

False <class 'bool'>

<div class="table-scroll-wrapper"><table>
<thead>
<tr>
<th>값</th>
<th>참 or 거짓</th>
</tr>
</thead>
<tbody>
<tr>
<td>"python"</td>
<td>참</td>
</tr>
<tr>
<td>""</td>
<td>거짓</td>
</tr>
<tr>
<td>[1, 2, 3]</td>
<td>참</td>
</tr>
<tr>
<td>[]</td>
<td>거짓</td>
</tr>
<tr>
<td>(1, 2, 3)</td>
<td>참</td>
</tr>
<tr>
<td>()</td>
<td>거짓</td>
</tr>
<tr>
<td>{'a': 1}</td>
<td>참</td>
</tr>
<tr>
<td>{}</td>
<td>거짓</td>
</tr>
<tr>
<td>1</td>
<td>참</td>
</tr>
<tr>
<td>0</td>
<td>거짓</td>
</tr>
<tr>
<td>None</td>
<td>거짓</td>
</tr>
</tbody>
</table></div>

In [2]:
# 자료형의 참과 거짓
print(bool("python"))
print("\"\"",bool(""),sep=" : ")
print("[1, 2, 3]",bool("1, 2, 3"),sep=" : ")
print("[]",bool([]),sep=" : ")
print("(1, 2, 3)",bool((1, 2, 3)),sep=" : ")
print("()",bool(()),sep=" : ")
print("{'a': 1}",bool({'a' : 1}),sep=" : ")
print("{}",bool({}),sep=" : ")
print("1",bool(1),sep=" : ")
print("0",bool(0),sep=" : ")
print("None",bool(None),sep=" : ")

True
"" : False
[1, 2, 3] : True
[] : False
(1, 2, 3) : True
() : False
{'a': 1} : True
{} : False
1 : True
0 : False
None : False

# 논리 연산자

In [142]:
# and 연산자
print("True and True ->",True and True)
print("True and False ->",True and False)
print("False and True ->",False and True)
print("False and False ->",False and False)

True and True -> True
True and False -> False
False and True -> False
False and False -> False

In [143]:
# or 연산자
print("True or True ->",True or True)
print("True or False ->",True or False)
print("False or True ->",False or True)
print("False or False ->",False or False)

True or True -> True
True or False -> True
False or True -> True
False or False -> False

In [145]:
# not 연산자
print("not True ->",not True)
print("not False ->",not False)
print("not 1 ->",not 1)
print("not 0 ->",not 0)

not True -> False
not False -> True
not 1 -> False
not 0 -> True

In [8]:
from fastapi import FastAPI
import requests

app = FastAPI()

def get_price():
    btc = requests.get(
        "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
    ).json()["price"]

    rate = requests.get(
        "https://www.koreaexim.go.kr/site/program/financial/exchangeJSON",
        params={"authkey":"5NI1wgZX5OHJXox7MUewT3TwrjmvStFA","data":"AP01"}
    ).json()

    usd = [i for i in rate if i["cur_unit"]=="USD"][0]["deal_bas_r"]

    return float(btc) * float(usd.replace(",",""))

@app.get("/btc")
def btc():
    return {"krw": get_price()}

ModuleNotFoundError: No module named 'fastapi'