In [1]:
!pwd

/home/cjh/data

In [2]:
f = open("새파일이에요.txt","w")
f.close()

<div class="table-scroll-wrapper"><table>
<thead>
<tr>
<th>파일열기모드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>r</td>
<td>읽기 모드: 파일을 읽기만 할 때 사용한다.</td>
</tr>
<tr>
<td>w</td>
<td>쓰기 모드: 파일에 내용을 쓸 때 사용한다.</td>
</tr>
<tr>
<td>a</td>
<td>추가 모드: 파일의 마지막에 새로운 내용을 추가할 때 사용한다.</td>
</tr>
</tbody>
</table></div>

In [3]:
# 리눅스에서
f = open("/home/cjh/test.txt","w")
f.close()

In [10]:
f = open("새파일이에요.txt","w")

for i in range(0, 20, 2):
    f.write(str(i)+"\n")
f.close()

In [16]:
import requests as req

f = open("즐겨찾기종목.txt","a")
url = "https://finance.naver.com/sise/sise_market_sum.naver"
ori = req.get(url).text
code = ['005930','000270','005380','012450','068270']

def finance(code = '005930'):
    start_title = ori.find(f'<a href="/item/main.naver?code={code}" class="tltle">')
    ori1 = ori[start_title : start_title + 70].replace(f'<a href="/item/main.naver?code={code}" class="tltle">','').replace('</a></td>','').replace('</a></td','').replace('\n','').strip()
    ori2 = ori[start_title + 70 : start_title + 105].replace('<td class="number">','').replace('</td>','').replace('>','').strip()
    print("종목:",ori1)
    print("가격:",ori2)
    result = "종목:" + ori1 + "\n" + "가격:" + ori2 + "\n"
    f.write(result)
    
for x in code:
    finance(x)
f.close()

종목: 삼성전자
가격: 178,400
종목: 기아
가격: 164,700
종목: 현대차
가격: 504,000
종목: 한화에어로스페이스
가격: 1,127,000
종목: 셀트리온
가격: 238,500

## 파일읽어오기

In [17]:
# readline 함수 이용하기

In [18]:
# 응용 3(비트코인 시세)
import requests as req
url = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
res = req.get(url).text
btc = res[29:34]
won = str(int(btc)*1450)
print((( won[-12:-8]+ "억") if won[-12:-8] else ""), won[-8:-4]+ '만',won[-4:]+ '원')

 9750만 9600원

In [11]:
# 파이썬의 파일 쓰기 기능을 이용하기
# 파일 쓰기 기능을 이용하여
# 로또 번호 중복없는 6개의 번호로 차례로 구성된
# 결과를 10가지로 추천하여
# "로또추천.txt" 라는 파일로 남기라.

import random
import os

# 파일 저장 위치 확인용 (선택사항)
print("파일 저장 위치:", os.getcwd())

with open("로또추천.txt", "w", encoding="utf-8") as f:
    f.write("로또 추천 번호 10세트\n\n")

    for game in range(1, 11):
        # 1~45 중 중복없는 6개 자동 생성
        lotto = random.sample(range(1, 46), 6)

        lotto.sort()
        line = ", ".join(f"{n:02d}" for n in lotto)
        f.write(f"{game:2}번째 : {line}\n")

print("완료! -> 로또추천.txt 생성됨")

파일 저장 위치: /home/cjh/data
완료! -> 로또추천.txt 생성됨

In [13]:
import requests as req

f = open("즐겨찾기종목.txt","a")
url = "https://finance.naver.com/sise/sise_market_sum.naver"
ori = req.get(url).text
code = ['005930','000270','005380','012450','068270']

def finance(code = '005930'):
    start_title = ori.find(f'<a href="/item/main.naver?code={code}" class="tltle">')
    ori1 = ori[start_title : start_title + 70].replace(f'<a href="/item/main.naver?code={code}" class="tltle">','').replace('</a></td>','').replace('</a></td','').replace('\n','').strip()
    ori2 = ori[start_title + 70 : start_title + 105].replace('<td class="number">','').replace('</td>','').replace('>','').strip()
    print("종목:",ori1)
    print("가격:",ori2)
    result = "종목:" + ori1 + "\n" + "가격:" + ori2 + "\n"
    f.write(result)
    
for x in code:
    finance(x)
f.close()

종목: 삼성전자
가격: 178,600
종목: 기아
가격: 166,300
종목: 현대차
가격: 506,000
종목: 한화에어로스페이스
가격: 1,131,000
종목: 셀트리온
가격: 238,500

In [1]:
f = open("./즐겨찾기종목.txt","r")
print(f)
f.close()

<_io.TextIOWrapper name='./즐겨찾기종목.txt' mode='r' encoding='UTF-8'>

In [2]:
f = open("./즐겨찾기종목.txt","a")
f.write(f"종목:홍길동\n가격:9,999,999")
f.close()

# 1.3 With문 으로 읽고, 쓰기

In [4]:
with open("./즐겨찾기종목.txt","r") as f: 
    print(f.closed)
    print(f.read())
    print(f.closed)
print(f.closed)

False
종목:삼성전자
가격:178,400
종목:기아
가격:164,700
종목:현대차
가격:504,000
종목:한화에어로스페이스
가격:1,127,000
종목:셀트리온
가격:238,500
종목:삼성전자
가격:178,600
종목:기아
가격:166,300
종목:현대차
가격:506,000
종목:한화에어로스페이스
가격:1,131,000
종목:셀트리온
가격:238,500
종목:홍길동
가격:9,999,999
False
True

In [6]:
# for 문 블록의 예  
for i in range(3):
    loop_var = "반복문 안의 변수"

# 프로그램의 입출력

In [20]:
import sys
args = sys.argv
for i in args:
    print(i)

/home/cjh/venv/lib/python3.12/site-packages/ipykernel_launcher.py
-f
/home/cjh/.local/share/jupyter/runtime/kernel-3c47c94e-0be4-4529-b268-83a11f430456.json

In [27]:
!pyhton3 args_test.py 12 34 56

/bin/bash: line 1: pyhton3: command not found

In [26]:
name = input("당신의 이름은?")
age = input("당신의 나이는?")
with open('.test_note.txt','a') as f:
    f.write(name +" "+ age+"\n")
print("입력 되었습니다")

당신의 이름은? cjh
당신의 나이는? 22

입력 되었습니다

## 클래스

In [33]:
# 불편한 코드
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num  # 결괏값(result)에 입력값(num) 더하기
    return result1  # 결괏값 리턴

def add2(num):
    global result2
    result2 += num  # 결괏값(result)에 입력값(num) 더하기
    return result2  # 결괏값 리턴

In [17]:
# 클래스 사용

class Cal:
    def __init__(self):
        self.result = 0
        
    def add(self, num):
        self.result += num
        return self.result

    def mul(self, num):
        self.result *= num
        return self.result

In [15]:
cal1 = Cal()
cal2 = Cal()

In [24]:
print(cal1.add(3))

138

In [23]:
print(cal1.mul(3))

135

In [ ]:
# 클래스의 기본 뼈대
class Bungbbang:
    pass

a = Bungbbang()

# 객체와 인스턴스 차이
# 인스턴스(instance) = 클래스(class)로부터 실제로 만들어진 과제(object)

In [31]:
# 클래스 구조 만들기
class FourCal:
    def setdata(self, a, b):
        self.first = a
        self.second = b
    def prints(self):
        print(self.first ,self.second)

In [33]:
four1 = FourCal()

In [35]:
four1.setdata(3, 4)

In [36]:
four1.prints()

3 4

In [37]:
dir(four1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'first',
 'prints',
 'second',
 'setdata']

In [86]:
# 예제1

class DDuk:
    def __init__(self, won, ea):
        self.won = won
        self.ea = ea

    def dduk(self):
        result = self.won * self.ea
        print(f"배가고파서 떡볶이집에서 떡볶이를 {result}원어치 먹었다.")

    def odeng(self):
        result = self.won * self.ea
        print(f"배가고파서 떡볶이집에서 오뎅을 {result}원어치 먹었다.")

In [87]:
재형 = DDuk(2500,4)
호성 = DDuk(1500,7)
재훈 = DDuk(2000,5)

In [88]:
재형.dduk()
재형.odeng()

배가고파서 떡볶이집에서 떡볶이를 10000원어치 먹었다.
배가고파서 떡볶이집에서 오뎅을 10000원어치 먹었다.

In [89]:
호성.dduk()
호성.odeng()

배가고파서 떡볶이집에서 떡볶이를 10500원어치 먹었다.
배가고파서 떡볶이집에서 오뎅을 10500원어치 먹었다.

In [90]:
재훈.dduk()
재훈.odeng()

배가고파서 떡볶이집에서 떡볶이를 10000원어치 먹었다.
배가고파서 떡볶이집에서 오뎅을 10000원어치 먹었다.

In [78]:
# 예제2
class Pet:
    def __init__(self, name, species):
        """펫을 생성"""
        self.name = name
        self.species = species
        self.hunger = 50 # 배고픔 수치 0 ~ 100
    def feed(self, many = 10):
        """밥을 주면 배고픔 감소"""
        if self.hunger > 10:
            self.hunger -= many
        return f"{self.name}에게 밥을 줬어요. 배고픔:{self.hunger}"
    def play(self, how = 20):
        """놀아주면 배고픔 증가"""
        if self.hunger < 80:
            self.hunger += how
        return f"{self.name}와 잘 놀았어요~!! 배고픔:{self.hunger}"

In [79]:
dog1 = Pet("뽀삐","말티즈")
dog2 = Pet("강쥐","허숙히")
cat1 = Pet("컁이","도둑고양이")
cat2 = Pet("킁이","집고양이")

In [80]:
cat1.feed(20)

'컁이에게 밥을 줬어요. 배고픔:30'

In [81]:
cat1.play(30)

'컁이와 잘 놀았어요~!! 배고픔:60'

In [82]:
print(cat1.feed())
print(cat1.play())

컁이에게 밥을 줬어요. 배고픔:50
컁이와 잘 놀았어요~!! 배고픔:70