In [1]:
print("a")

a

In [2]:
# 문자 x 숫자 = 반복
print("안녕" * 5)

안녕안녕안녕안녕안녕

In [3]:
print("=" * 20, end='')

====================

In [4]:
# print 심화2
print("안녕", "하시", "겠습니까", "?", sep='-')
print(1,2,3,4,5,sep='/')

안녕-하시-겠습니까-?
1/2/3/4/5

In [5]:
# print 응용1
import time as t
print("잠온다")
t.sleep(1.5)
print("배가불러서일까?")
t.sleep(1.5)
print("배가고파서일까?")

잠온다
배가불러서일까?
배가고파서일까?

In [6]:
# print 응용2
import time as t 
print("기대하세요.", end='\r')
t.sleep(1.5)
print("드디어~~", end='\r')
t.sleep(1.5)
print("개봉합니다!", end='\r')

개봉합니다!

In [7]:
! ls

btc.ipynb  jupy.sh  py01.ipynb	test.txt  untitled.py  untitled1.py  venv

In [8]:
! cat test.py

cat: test.py: No such file or directory

In [9]:
pwd

'/home/cjh'

# 문자열 자료형

str1 = "안녕" + '하세요'
str2 = "안녕하세요 '홍길동' 이라고 합니다"
str3 = '안녕하세요 "홍길동" 이라고 합니다'
str4 = """저는
여러줄을
작성합니다.
"""
str5 = """저는
여러줄을
작성합니다.
"""
str6 = "저는\n여러줄을\n작성합니다."
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print(str6)

In [10]:
# 문자열 길이 구하기
a = "Life is too short" + '은 '
print(a + str(len(a)) + "자 입니다.") # string -> str, length -> len

Life is too short은 19자 입니다.

<table>
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\n</code></td>
<td>문자열 안에서 줄을 바꿀 때 사용</td>
</tr>
<tr>
<td><code>\t</code></td>
<td>문자열 사이에 탭 간격을 줄 때 사용</td>
</tr>
<tr>
<td><code>\\</code></td>
<td><code>\</code>를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\'</code></td>
<td>작은따옴표(')를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>큰따옴표(")를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\r</code></td>
<td>캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)</td>
</tr>
<tr>
<td><code>\f</code></td>
<td>폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)</td>
</tr>
<tr>
<td><code>\a</code></td>
<td>벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)</td>
</tr>
<tr>
<td><code>\b</code></td>
<td>백 스페이스</td>
</tr>
<tr>
<td><code>\000</code></td>
<td>널 문자</td>
</tr>
</tbody>
</table>

In [11]:
# 인덱싱을 이용한 house 글자 만들어보기
a = "Life is too short, You need Python"
word = a[13] + a[14] + a[21] + a[12] + a[3]
print(word)

house

# 슬라이싱으로 문자열 나누기

In [12]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
date
'20230331'
weather
'Rainy'

'Rainy'

In [13]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year
'2023'
day
'0331'
weather
'Rainy'

'Rainy'

In [14]:
# 테스트
import time as t
dir(t)

['CLOCK_BOOTTIME',
 'CLOCK_MONOTONIC',
 'CLOCK_MONOTONIC_RAW',
 'CLOCK_PROCESS_CPUTIME_ID',
 'CLOCK_REALTIME',
 'CLOCK_TAI',
 'CLOCK_THREAD_CPUTIME_ID',
 '_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'clock_getres',
 'clock_gettime',
 'clock_gettime_ns',
 'clock_settime',
 'clock_settime_ns',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'pthread_getcpuclockid',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname',
 'tzset']

In [15]:
# 응용
import requests as req
url = "https://v.daum.net/v/20260203120206039"
res = req.get(url).text
print(res[:600])
print(res.find("급락"))
print(res.find("증폭"))
print(res[374:402])

<!doctype html>
<html class="os_window">
 <head data-cloud-area="head">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="referrer" content="unsafe-url">
  <title>"플라스틱 내열 한계 깼다"…1,000℃ 화염 견디는 '나노 감옥' 기술</title>
  <link rel="shortcut icon" href="//t1.daumcdn.net/top/favicon/20241223/daum.ico">
  <meta property="mccp:docId" content="yfBVGv3GJW">
  <meta property="og:site_name" content
-1
-1
"플라스틱 내열 한계 깼다"…1,000℃ 화염 견디

In [16]:
# 응용
import requests as req
url = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
res = req.get(url).text
print(res)

{"symbol":"BTCUSDT","price":"76189.24000000"}

In [17]:
print(res[29])

7

In [18]:
# 응용
import requests as req
url = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
res = req.get(url).text
btc = res[29:34]
won = str(int(btc)*1450)
print( won[:1]+ '억' + won[1:5]+ '만' + won[5:]+ '원') #  -> 1억1375만5400원

1억1047만4050원

# 문자열 포매팅

In [19]:
# 문자열 포매팅, 대입
app = 3
print("나는 사과를 %d개 먹었다." % app)

나는 사과를 3개 먹었다.

In [20]:
print("나는 사과를 %s개 먹었다." % '3')

나는 사과를 3개 먹었다.

In [ ]:
inp = input("몇개인지 입력하세요.")
print("나는 사과를 %s개 먹었다." % (str(inp) * 1))

In [ ]:
# 문자열 포매팅, 2개 이상의 값 넣기
won = 2000
ea = input("몇개인지 입력하세요.")
print("나는 %s원짜리 사과를 %s를 먹었다. 총 비용은 %s원이다." %(won, ea, won* int(ea) ))

<div class="table-scroll-wrapper"><table>
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>%s</td>
<td>문자열(String)</mark></td>
</tr>
<tr>
<td>%c</td>
<td>문자 1개(character)</td>
</tr>
<tr>
<td>%d</td>
<td>정수(Integer)</mark></td>
</tr>
<tr>
<td>%f</td>
<td>부동소수(floating-point)</mark></td>
</tr>
<tr>
<td>%o</td>
<td>8진수</td>
</tr>
<tr>
<td>%x</td>
<td>16진수</td>
</tr>
<tr>
<td>%%</td>
<td>Literal % (문자 <code>%</code> 자체)</td>
</tr>
</tbody>
</table></div>

In [ ]:
# 문자열
print("%20s" % '12.34 문자표현' )
# 정수
print("%10d" % 12.34 )
# 부동소수점
print("%f" % 12.34 )
# %%표기
print("한국에 산은 %d%% 정도 있습니다." % 70)

In [ ]:
# 소수점 표현하기
print("%.2fkkkkk" % 3.141592)
print("%10.2fkkkkk" % 3.141592)
print("%-10.2fkkkkk" % 3.141592)

In [ ]:
# 숫자값을 가진 변수로 대입하기
s = "five"
ss = "I can {0} apples".format(s)
print(ss, type(ss))

In [ ]:
# 2개 이상 값 넣기
s = "five"
e = 7
ss = "I eat {0} apples, so I was sic for {1} days.".format(s,e)
print(ss, type(ss))

In [ ]:
# 왼쪽정렬
print("{0:<10}".format("hi"))
# 오른쪽정렬
print("{0:>10}".format("hi"))
# 가운데 정렬
print("{0:^10}".format("hi"))

In [ ]:
# 응용
re = "{0:.^18}".format("영수증")
print("="*20+"\n"+re+"\n"+"="*20)

In [ ]:
re = "{0:.^18}".format("영수증")
print("="*20+"\n"+re+"\n"+"="*20)
ice_americano = int(input("아아 : "))
latte = int(input("라떼 : "))

print("-"*20+"\n"+re+"\n"+"-"*20)
print(ice_americano * 2500)
print(latte * 3800)
print("-"*20+"\n"+re+"\n"+"-"*20)

# f 문자열 포메팅

In [2]:
name = '홍길동'
age = 30
print(f"나의 이름은 {name}입니다. 나이는 {age + 1} 입니다.")

나의 이름은 홍길동입니다. 나이는 31 입니다.

In [3]:
a = "Python is the best choice"
a.find('b')
14
a.find('k')
-1

-1

In [4]:
# index - 위치 알려 주기2
a = "Life is too short"
print(a.index('t'))
# print(a.index('z')) 없으면 오류발생

8

In [5]:
# join - 문자열 삽입
'abcdefg'

# a-b-c-d-e-f-g
print("a", "b", "c", sep="-")

a-b-c

In [7]:
# 연습
# a*b*c*d*e*f*g
nn = '123456789'
print("빠 ".join(nn) + "빠")

1빠 2빠 3빠 4빠 5빠 6빠 7빠 8빠 9빠

In [14]:
# upper - 소문자를 대문자로 바꾸기
a = 'Python is the best choice'
print(a.upper())
# lower - 대문자를 소문자로 바꾸기
b = 'Python Is The best choice'
print(a.lower())
c = 'Python Is The best choice'
print(c[0]+c[1:].lower())

PYTHON IS THE BEST CHOICE
python is the best choice
Python is the best choice

In [23]:
ss = f"{'hi':^12}"
print(ss)
# strip - 왼쪽공백지우기
print(ss.lstrip())
# rstrip - 오른쪽공백지우기
print(ss.rstrip())
# strip - 양쪽공백지우기 *
print(ss.strip())

     hi
hi
     hi
hi

In [24]:
# replace - 문자열 바꾸기 **
a = "Life is long short"
a.replace("too short","Egg")
print(b)
print(a)

Python Is The best choice
Life is long short

In [27]:
# split - 문자열 나누기 **
a = "Life is too short"
print(a.split())
b = "a:b:c:d:e:f"
print(b.split(':'))
c = 'BaNaNa'
# BaNaNa -> c = b*a*n*a*n*a -> ['b', 'a', 'n', 'a', 'n', 'a']

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd', 'e', 'f']

In [34]:
# isalpha - 문자열이 알파벳으로만 구성되어 있는지 확인하기
s = "Life is too short"
print(s.replace(" ","").isalpha()) # 메소드체이닝

True