In [2]:
# 기본
if True :
    print("조건문 실행")

조건문 실행

# 1.1.1. in, not in

<div class="table-scroll-wrapper"><table>
<thead>
<tr>
<th>in</th>
<th>not in</th>
</tr>
</thead>
<tbody>
<tr>
<td>x in 리스트</td>
<td>x not in 리스트</td>
</tr>
<tr>
<td>x in 튜플</td>
<td>x not in 튜플</td>
</tr>
<tr>
<td>x in 문자열</td>
<td>x not in 문자열</td>
</tr>
</tbody>
</table></div>

In [17]:
print(1 in [1,2,3])
print(1 not in [1,2,3])
print("j" not in "python")

True
False
True

## 1.1.2 문제 및 실습

In [3]:
# 문제 1
# 만약 5000원 이상의 돈을 가지고 있으면 택시를 타고가고, 그렇지 않으면 걸어가라.
money = int(input("얼마나 있나요?"))
if money >= 5000 :
    print("택시를 타고가라")
else:
    print("걸어가라")

얼마나 있나요? 300

걸어가라

In [16]:
# 문제 2
identify = True # "있다"
stamp = True # "있다"
sing = True #  "할수있다."

print("어서오세요. 외국인 지원금 서류등록소에요. ")
inp1 = "있다" in input(" 신분증이 있나요?")
inp2 = "있다" in input(" 도장이 있나요?")
inp3 = "있다" in input(" 싸인할 수 있나요?")
inp4 = "한국" in input("국적이 어디인가요?")
    # "True" ! = input("싸인할 수 있나요?")
print(inp1,type(inp1))
print(inp2,type(inp2))
print(inp3,type(inp3))
print(inp4,type(inp4))
if (inp1 and (inp2 or inp3)) and not inp4 :
    print("업무 진행 가능합니다.")
else:
    print("서류가 부족합니다.")

어서오세요. 외국인 지원금 서류등록소에요.

 신분증이 있나요? 있다
 도장이 있나요? 있다
 싸인할 수 있나요? 이ㅆ다
국적이 어디인가요? 없다

True <class 'bool'>
True <class 'bool'>
False <class 'bool'>
False <class 'bool'>
업무 진행 가능합니다.

In [28]:
# 문제 3
who = {"name":"hong","age":20,"gender":"male"}

if (who['age'] >= 20) and (who["gender"] == "male"):
    print("군대가기")
else:
    pass
    
# 나이가 20살 이상이며 성별이 male 군대가기, pass

군대가기

In [42]:
# 조건부 표현식

result = "군대가기" if ((who['age'] >= 20) and (who["gender"] == "male")) else ""
print(result)

군대가기

In [40]:
# 조건부 표현식
age = 19
status = "성인" if age >= 18 else "미성년"
print(status)

# 조건부 표현식 2
temperature = 25
weather = "따뜻함" if temperature > 20 else "추움"
print(weather)

# 조건부 표현식 3
money = 1500
transportation = "버스" if money >= 1000 else "도보"
print(transportation)

성인
따뜻함
버스

In [46]:
# if elif ~~
pocket = ['paper', 'key']
card = True
if 'money' in pocket:
    print("택시 빨리 타라")
if card == True:
    print("택시 신나게 타라")
else:
    print("걸어가라")

택시 신나게 타라

In [47]:
# if 만 사용
pocket = ['paper', 'key']
card = True
if 'money' in pocket:
    print("택시 빨리 타라")
if card == True:
    print("택시 신나게 타라")
if not ('money' in pocket) and not card == True:
    print("걸어가라")

택시 신나게 타라

In [50]:
# 응용1 (if elif... , if if if... )
score = 77

if 100>= score >= 90:
    print("A 등급")
if 90> score >= 80:
    print("B 등급")
if 80> score >= 70:
    print("C 등급")
if 70> score >= 60:
    print("D 등급")

C 등급

In [53]:
# 응용2 (if elif... )
score = 77
if score >= 90:
    print("A등급")
elif score >= 80:
    print("B등급")
elif score >= 70:
    print("C등급")
elif score >= 60:
    print("D등급")

C등급

## While 문 **

In [6]:
check = 0
while check < 10 :
    print("가즈아~~!!", check)
    check = check + 1 # check += 1  
    print(f"{check}번째 가즈아~~!!")
    if check == 10:
        print("구조대 탈출!")

가즈아~~!! 0
1번째 가즈아~~!!
가즈아~~!! 1
2번째 가즈아~~!!
가즈아~~!! 2
3번째 가즈아~~!!
가즈아~~!! 3
4번째 가즈아~~!!
가즈아~~!! 4
5번째 가즈아~~!!
가즈아~~!! 5
6번째 가즈아~~!!
가즈아~~!! 6
7번째 가즈아~~!!
가즈아~~!! 7
8번째 가즈아~~!!
가즈아~~!! 8
9번째 가즈아~~!!
가즈아~~!! 9
10번째 가즈아~~!!
구조대 탈출!

In [7]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [8]:
prompt="""
1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!
"""
num = 0
while num != 4:
    print(prompt)
    # num += 1
    num = int(input("번호를 입력하세요."))

1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!

번호를 입력하세요. 4

In [9]:
prompt="""
1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!
"""
num = 0
while True:
    print(prompt)
    # num += 1
    num = int(input("번호를 입력하세요."))
    if num == 4:
        break

1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!

번호를 입력하세요. 3

1. 어쩌구
2. 저쩌구
3. 계속해?
4. 나가자!

번호를 입력하세요. 4

In [11]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [25]:
# 응용 (1 ~ 6 주사위)
import random as ran
n = 0
while n < 100:
    num = ran.randint(1,6)
    n += 1
    # print(f"{n}번째:",num)

print("1번이 x번 등장하였습니다.")
print("1번이 x번 등장하였습니다.")
print("1번이 x번 등장하였습니다.")
print("1번이 x번 등장하였습니다.")
print("1번이 x번 등장하였습니다.")
print("1번이 x번 등장하였습니다.")

1번이 x번 등장하였습니다.
1번이 x번 등장하였습니다.
1번이 x번 등장하였습니다.
1번이 x번 등장하였습니다.
1번이 x번 등장하였습니다.
1번이 x번 등장하였습니다.

In [14]:
dir(ran)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_fabs',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_lgamma',
 '_log',
 '_log2',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'binomialvariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [26]:
# count 리스트에 포함된 요소 개수세기
a = [2,3,4,6]*2 +[1,2,3]*3
print(a, a.count(4))

[2, 3, 4, 6, 2, 3, 4, 6, 1, 2, 3, 1, 2, 3, 1, 2, 3] 2

In [80]:
# 응용 (1 ~ 6 주사위)
'''
import random as ran
n = 0
box = []
while n < 100:
    num = ran.randint(1,6)
    n += 1
    box.append(num)
    # print(f"{n}번째:",num)

print(f"주사위 눈금 1이 {box.count(1)}번 등장하였습니다.")
print(f"주사위 눈금 2이 {box.count(2)}번 등장하였습니다.")
print(f"주사위 눈금 3이 {box.count(3)}번 등장하였습니다.")
print(f"주사위 눈금 4이 {box.count(4)}번 등장하였습니다.")
print(f"주사위 눈금 5이 {box.count(5)}번 등장하였습니다.")
print(f"주사위 눈금 6이 {box.count(6)}번 등장하였습니다.")
print(len(box))
'''

'''
print((box.count(1) / len(box)) * 100, "%")
print((box.count(2) / len(box)) * 100, "%") 
print((box.count(3) / len(box)) * 100, "%")
print((box.count(4) / len(box)) * 100, "%")
print((box.count(5) / len(box)) * 100, "%")
print((box.count(6) / len(box)) * 100, "%")
'''


print((box.count(1) / len(box)) * 100000, "%")
print((box.count(2) / len(box)) * 100000, "%") 
print((box.count(3) / len(box)) * 100000, "%")
print((box.count(4) / len(box)) * 100000, "%")
print((box.count(5) / len(box)) * 100000, "%")
print((box.count(6) / len(box)) * 100000, "%")

16771.0 %
16588.0 %
16598.0 %
16630.0 %
16626.0 %
16787.0 %

In [60]:
# 응용 (1 ~ 6 주사위, 확률 구하기)
import random as ran
n = 0
box = []
cc = int(input("몇회 주사위를 던질까요?") or 100)
while n < cc:
    num = ran.randint(1,6)
    n += 1
    box.append(num)

if cc == len(box):
    print(f"{cc}회 정상 진행 되었습니다.")
    print(f"주사위 눈금 1이 {box.count(1)}번 { ((box.count(1)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 2이 {box.count(2)}번 { ((box.count(2)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 3이 {box.count(3)}번 { ((box.count(3)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 4이 {box.count(4)}번 { ((box.count(4)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 5이 {box.count(5)}번 { ((box.count(5)/cc) * 100):0.2f}% 출현하였습니다.")
    print(f"주사위 눈금 6이 {box.count(6)}번 { ((box.count(6)/cc) * 100):0.2f}% 출현하였습니다.")
else:
    print(f"검증 결과 이상이 있습니다. {cc}회 목표로 동작하였으나, {len(box)}으로 측정되었습니다.")

몇회 주사위를 던질까요? 100000

100000회 정상 진행 되었습니다.
주사위 눈금 1이 16771번 16.77% 출현하였습니다.
주사위 눈금 2이 16588번 16.59% 출현하였습니다.
주사위 눈금 3이 16598번 16.60% 출현하였습니다.
주사위 눈금 4이 16630번 16.63% 출현하였습니다.
주사위 눈금 5이 16626번 16.63% 출현하였습니다.
주사위 눈금 6이 16787번 16.79% 출현하였습니다.

In [76]:
# 로또 번호

# 1 ~ 45 임의의 수 중에서 중복없는 6개의 수를 뽑아 나열하여 분석하시오.
# [44, 22, 23, 41, 42, 45]

# while 반복해서 1000이상으로 돌려서

# 가장 많이 출현한 숫자를 뽑으세요.

In [81]:
# 로또번호
import random as ran
n = 0
lotto = []

lucky_lotto = int(input("몇회를 반복할까요?"))

cc1 = int(input("로또번호를 입력하시오"))
cc2 = int(input("로또번호를 입력하시오"))
cc3 = int(input("로또번호를 입력하시오"))
cc4 = int(input("로또번호를 입력하시오"))
cc5 = int(input("로또번호를 입력하시오"))
cc6 = int(input("로또번호를 입력하시오"))
print([cc1, cc2, cc3, cc4, cc5, cc6])

while n < lucky_lotto:
    num = ran.randint(1,45)
    n += 1
    lotto.append(num)

if cc == len(lotto):
    print(f"로또 번호 {cc1}이(가) { ((lotto.count(44)/lucky_lotto) * 100):0.2f}% 출현하였습니다.")
    print(f"로또 번호 {cc2}이(가) { ((lotto.count(22)/lucky_lotto) * 100):0.2f}% 출현하였습니다.")
    print(f"로또 번호 {cc3}이(가) { ((lotto.count(23)/lucky_lotto) * 100):0.2f}% 출현하였습니다.")
    print(f"로또 번호 {cc4}이(가) { ((lotto.count(41)/lucky_lotto) * 100):0.2f}% 출현하였습니다.")
    print(f"로또 번호 {cc5}이(가) { ((lotto.count(42)/lucky_lotto) * 100):0.2f}% 출현하였습니다.")
    print(f"로또 번호 {cc6}이(가) { ((lotto.count(45)/lucky_lotto) * 100):0.2f}% 출현하였습니다.")
else:
    print(f"{lucky_lotto}회 목표로 돌려서, 가장 많이 출현한 숫자를 {int(num)}으로 뽑았습니다.")

몇회를 반복할까요? 1000
로또번호를 입력하시오 44
로또번호를 입력하시오 22
로또번호를 입력하시오 23
로또번호를 입력하시오 41
로또번호를 입력하시오 42
로또번호를 입력하시오 45

[44, 22, 23, 41, 42, 45]
1000회 목표로 돌려서, 가장 많이 출현한 숫자를 9으로 뽑았습니다.

In [15]:
# random 으로 스토리 생성기 만들기

import random as ran
characters = ["용감한기사","모험심 넘치는 고양이","호기심 많은 로봇","신나게 출근한 신영이","서투른 마법사","명석한 탐정","즐거운 선생님"]
places = ["어두운 숲에서"," 먼 우주 행성에서","마법의 성에서","엄중한 교실에서","바닷속 도시에서","귀신이 나오는 흉가에서","이성과 엘베안에서"]
events = ["숨겨진 보물을 발견했다","무시무시한 용과 싸웠다","비밀 통로를 발견했다.", "고대의 미스터리를 풀었다","왕국을 위험에서 구하였다.","결혼날짜를 잡았다."]

ch = ran.choice(characters)
pl = ran.choice(places)
ev = ran.choice(events)
ch2 = ran.choice(characters)
pl2 = ran.choice(places)
ev2 = ran.choice(events)

print("어느 날, %s는 %s 모험을 떠나 %s 그리고 %s는 %s %s" %(ch,pl,ev,ch2,pl2,ev2))

어느 날, 용감한기사는 마법의 성에서 모험을 떠나 결혼날짜를 잡았다. 그리고 신나게 출근한 신영이는 바닷속 도시에서 비밀 통로를 발견했다.

In [16]:
import random as ran
ran.seed(13)
test = [11,22,33,44,45]
print(ran.random())
print(ran.choice(test))

0.2590084917154736
22

# for 문 **

In [86]:
# 리스트 순회
list_1 = ["orange","banana","kiwi","melon"]

for i in list_1:
    print(i,"입니다.")

orange 입니다.
banana 입니다.
kiwi 입니다.
melon 입니다.

In [87]:
# 문 순회
st = "안녕하세요."
for s in st:
    print(s)

안
녕
하
세
요
.

In [88]:
arr = [(1,2),(3,4),(5,6)]
# a, b = 1, 2
for (a, b) in arr:
    print(a + b)

3
7
11

In [100]:
# 순회 예제
marks = [90, 25, 67, 45, 80, 77]
num = 0
for m in marks:
    num += 1 # num +=1
    if m >= 60:
        print( "{0}번 학생은 {1}점으로 합격입니다.".format(num, m) )
    else:
        pass
        # print( "{0}번 학생은 {1}점으로 불합격입니다.".format(num, m))

1번 학생은 90점으로 합격입니다.
2번 학생은 25점으로 불합격입니다.
3번 학생은 67점으로 합격입니다.
4번 학생은 45점으로 불합격입니다.
5번 학생은 80점으로 합격입니다.
6번 학생은 77점으로 합격입니다.

In [106]:
marks = [90, 25, 67, 45, 80, 77]
num = 0

for m in marks:
    num += 1
    if m < 60:
        continue
    print("%d 번 학생 축하합니다. %d 점으로 합격입니다." %(num, m))

1 번 학생 축하합니다. 90 점으로 합격입니다.
3 번 학생 축하합니다. 67 점으로 합격입니다.
5 번 학생 축하합니다. 80 점으로 합격입니다.
6 번 학생 축하합니다. 77 점으로 합격입니다.

In [107]:
# range

a = range(0,10,1)
print(a)

range(0, 10)

In [108]:
for i in range(20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# for, range를 사용하여

In [111]:
# 1. 다음 요소가 담긴 리스트 생성 [3,4,5,6,7,8,9,10,11]
box = []
for i in range(3, 12, 1):
    box.append(i)
print(box)

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [110]:
# 2. [1,4,7,10,13] 이 담긴 리스트 생성
box = []
for i in range(1, 16, 3):
    box.append(i)
print(box)

[1, 4, 7, 10, 13]

In [109]:
# 3. 0부터 50까지 짝수값만 담긴 리스트 생성
box = []
for i in range(0, 51, 2):
    box.append(i)
print(box)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [113]:
sums = 0
for i in range(1,11):
    sums = sums + i
    print(sums)

1
3
6
10
15
21
28
36
45
55

In [24]:
s = [90, 25, 67, 45, 80]
for num in range(len(score)):
    if s[num] > 60:
        continue
    print("%d번 학생 아쉽지만 불합격 입니다." % (num+1))

2번 학생 아쉽지만 불합격 입니다.
4번 학생 아쉽지만 불합격 입니다.

In [20]:
# 불합격만 통보할 때
marks = [90, 25, 67, 45, 80, 77]

for m in marks:
    if m >= 60:
        print( "{0}번 학생은 합격입니다.".format(m) )
    else:
        pass
        # print( "{0}번 학생은 불합격입니다.".format(m))

90번 학생은 합격입니다.
67번 학생은 합격입니다.
80번 학생은 합격입니다.
77번 학생은 합격입니다.

In [96]:
# 불합격만 통보할 때
marks = [90, 25, 67, 45, 80, 77]

for m in marks:
    if m >= 60:
        pass
        # print( "{0}번 학생은 합격입니다.".format(m) )
    else:
        print( "{0}번 학생은 불합격입니다.".format(m))

25번 학생은 불합격입니다.
45번 학생은 불합격입니다.

In [46]:
# 최소한 구구단 연습!!
#2단
print("="*12)
print(f"{"2단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"2 x {i} = {2*i}")
print("="*12)

============
    2단
------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
============

In [45]:
# 최소한 구구단 연습!!
#2단
print("="*12)
print(f"{"2단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"2 x {i} = {2*i}")
print("="*12)

#3단
print("="*12)
print(f"{"3단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"3 x {i} = {3*i}")
print("="*12)

#4단
print("="*12)
print(f"{"4단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"4 x {i} = {4*i}")
print("="*12)

#5단
print("="*12)
print(f"{"5단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"5 x {i} = {5*i}")
print("="*12)

#6단
print("="*12)
print(f"{"6단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"6 x {i} = {6*i}")
print("="*12)

#7단
print("="*12)
print(f"{"7단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"7 x {i} = {7*i}")
print("="*12)

#8단
print("="*12)
print(f"{"8단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"8 x {i} = {8*i}")
print("="*12)

#9단
print("="*12)
print(f"{"9단":^10}")
print("-"*12)
for i in range(1, 10):
    print(f"9 x {i} = {9*i}")
print("="*12)

============
    2단
------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
============
============
    3단
------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
============
============
    4단
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
============
============
    5단
------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
============
============
    6단
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
============
============
    7단
------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
============
============
    8단
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
============
============
    9단
------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
============

In [48]:
for j in range(2, 10):
   for i in range(1, 10):
     print(f"{j} x {i} = {j * i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [53]:
for j in range(2, 10):
   print(f"{(str(j)+"단"):^12}") 
   print("-"*12)
   for i in range(1, 10):
       print(f"{j:>2} x {i} = {(j * i): > 2}")
   print("="*12)

     2단
------------
 2 x 1 =  2
 2 x 2 =  4
 2 x 3 =  6
 2 x 4 =  8
 2 x 5 =  10
 2 x 6 =  12
 2 x 7 =  14
 2 x 8 =  16
 2 x 9 =  18
============
     3단
------------
 3 x 1 =  3
 3 x 2 =  6
 3 x 3 =  9
 3 x 4 =  12
 3 x 5 =  15
 3 x 6 =  18
 3 x 7 =  21
 3 x 8 =  24
 3 x 9 =  27
============
     4단
------------
 4 x 1 =  4
 4 x 2 =  8
 4 x 3 =  12
 4 x 4 =  16
 4 x 5 =  20
 4 x 6 =  24
 4 x 7 =  28
 4 x 8 =  32
 4 x 9 =  36
============
     5단
------------
 5 x 1 =  5
 5 x 2 =  10
 5 x 3 =  15
 5 x 4 =  20
 5 x 5 =  25
 5 x 6 =  30
 5 x 7 =  35
 5 x 8 =  40
 5 x 9 =  45
============
     6단
------------
 6 x 1 =  6
 6 x 2 =  12
 6 x 3 =  18
 6 x 4 =  24
 6 x 5 =  30
 6 x 6 =  36
 6 x 7 =  42
 6 x 8 =  48
 6 x 9 =  54
============
     7단
------------
 7 x 1 =  7
 7 x 2 =  14
 7 x 3 =  21
 7 x 4 =  28
 7 x 5 =  35
 7 x 6 =  42
 7 x 7 =  49
 7 x 8 =  56
 7 x 9 =  63
============
     8단
------------
 8 x 1 =  8
 8 x 2 =  16
 8 x 3 =  24
 8 x 4 =  32
 8 x 5 =  40
 8 x 6 =  48
 8 x 7 =  56
 8 x 8 =  64
 8 x 9 =  72
============
     9단
------------
 9 x 1 =  9
 9 x 2 =  18
 9 x 3 =  27
 9 x 4 =  36
 9 x 5 =  45
 9 x 6 =  54
 9 x 7 =  63
 9 x 8 =  72
 9 x 9 =  81
============

# 리스트 컴프리헨션 사용하기

In [54]:
a = [1,2,3,4]
b = []      # [1,4,9,16]
for x in a:
    b.append(x**2)
print(b)

[1, 4, 9, 16]

In [56]:
b = [ x**2 for x in a ] 
print(b)

[1, 4, 9, 16]

In [58]:
c = [ x+5 for x in a]
print(c)

[6, 7, 8, 9]

In [59]:
print([ r + 1 for r in range(0,20)] )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [63]:
print([ r + 300 for r in range(10,10000,1500)] )

[310, 1810, 3310, 4810, 6310, 7810, 9310]

In [96]:
a = [ int(((r*3)/2)*1.5)  for r in range(0,100)]
b = []# [짝수만]
c = []# [홀수만]

for x in a:
    if x%2 == 0:
        b.append(x)
    else:
        c.append(x)
        
print(a, len(a))
print(b, len(b))
print(c, len(c))

[0, 2, 4, 6, 9, 11, 13, 15, 18, 20, 22, 24, 27, 29, 31, 33, 36, 38, 40, 42, 45, 47, 49, 51, 54, 56, 58, 60, 63, 65, 67, 69, 72, 74, 76, 78, 81, 83, 85, 87, 90, 92, 94, 96, 99, 101, 103, 105, 108, 110, 112, 114, 117, 119, 121, 123, 126, 128, 130, 132, 135, 137, 139, 141, 144, 146, 148, 150, 153, 155, 157, 159, 162, 164, 166, 168, 171, 173, 175, 177, 180, 182, 184, 186, 189, 191, 193, 195, 198, 200, 202, 204, 207, 209, 211, 213, 216, 218, 220, 222] 100
[0, 2, 4, 6, 18, 20, 22, 24, 36, 38, 40, 42, 54, 56, 58, 60, 72, 74, 76, 78, 90, 92, 94, 96, 108, 110, 112, 114, 126, 128, 130, 132, 144, 146, 148, 150, 162, 164, 166, 168, 180, 182, 184, 186, 198, 200, 202, 204, 216, 218, 220, 222] 52
[9, 11, 13, 15, 27, 29, 31, 33, 45, 47, 49, 51, 63, 65, 67, 69, 81, 83, 85, 87, 99, 101, 103, 105, 117, 119, 121, 123, 135, 137, 139, 141, 153, 155, 157, 159, 171, 173, 175, 177, 189, 191, 193, 195, 207, 209, 211, 213] 48

In [99]:
a = [ int(((r*3)/2)*1.5)  for r in range(0,100)]
b = [x for x in a if x%2 == 0]# [짝수만]
c = [x for x in a if x%2 == 1]# [홀수만]
print(a, len(a))
print(b, len(b))
print(c, len(c))

[0, 2, 4, 6, 9, 11, 13, 15, 18, 20, 22, 24, 27, 29, 31, 33, 36, 38, 40, 42, 45, 47, 49, 51, 54, 56, 58, 60, 63, 65, 67, 69, 72, 74, 76, 78, 81, 83, 85, 87, 90, 92, 94, 96, 99, 101, 103, 105, 108, 110, 112, 114, 117, 119, 121, 123, 126, 128, 130, 132, 135, 137, 139, 141, 144, 146, 148, 150, 153, 155, 157, 159, 162, 164, 166, 168, 171, 173, 175, 177, 180, 182, 184, 186, 189, 191, 193, 195, 198, 200, 202, 204, 207, 209, 211, 213, 216, 218, 220, 222] 100
[0, 2, 4, 6, 18, 20, 22, 24, 36, 38, 40, 42, 54, 56, 58, 60, 72, 74, 76, 78, 90, 92, 94, 96, 108, 110, 112, 114, 126, 128, 130, 132, 144, 146, 148, 150, 162, 164, 166, 168, 180, 182, 184, 186, 198, 200, 202, 204, 216, 218, 220, 222] 52
[9, 11, 13, 15, 27, 29, 31, 33, 45, 47, 49, 51, 63, 65, 67, 69, 81, 83, 85, 87, 99, 101, 103, 105, 117, 119, 121, 123, 135, 137, 139, 141, 153, 155, 157, 159, 171, 173, 175, 177, 189, 191, 193, 195, 207, 209, 211, 213] 48

In [100]:
# 몫
for r1 in range(1,100):
    a = r1 // 2
    print(a)

# 나머지
for r2 in range(1,100):
    b = r2 % 2
    print(b)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10
11
11
12
12
13
13
14
14
15
15
16
16
17
17
18
18
19
19
20
20
21
21
22
22
23
23
24
24
25
25
26
26
27
27
28
28
29
29
30
30
31
31
32
32
33
33
34
34
35
35
36
36
37
37
38
38
39
39
40
40
41
41
42
42
43
43
44
44
45
45
46
46
47
47
48
48
49
49
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1

In [108]:
# 구구단을 리스트 컴프리핸셔으로 만들어라.
a = [{i} for i in range(2, 10, 1)]
b = [{j} for j in range(1, 10, 1)]
result = a * b

TypeError: can't multiply sequence by non-int of type 'list'

In [105]:
for i in range(10):
    if i == 6:
        break
    print(i)
else:
    print("for 문이 정상 종료되었습니다.")

0
1
2
3
4
5

# enumerate 함수 활용하기

In [109]:
arr = [11,22,33,44,55]
for i, a in enumerate(arr): # 1부터 시작
    print(i, '번째',a)

0 번째 11
1 번째 22
2 번째 33
3 번째 44
4 번째 55

# zip 함수로 여러 리스트 함께 순회하기

In [118]:
names = ['홍길동', '김철수', '이영희' ,'이순신']
scores = [85, 92, 78, 99]
grade = ["합격" if x > 85 else "불합격" for x in scores]
# grade = ["합격" for x in scores if x > 85]

for x, y, z in zip(names, scores, grade):
    print(f"{x}님은 {y}점 이므로 {z}입니다.")

홍길동님은 85점 이므로 불합격입니다.
김철수님은 92점 이므로 합격입니다.
이영희님은 78점 이므로 불합격입니다.
이순신님은 99점 이므로 합격입니다.

# 3장 되새김 문제(p.149 ~ p.151)

In [119]:
# 1. 조검문의 참과 거짓
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "need" in a: print("need")
else: print("none")

need

In [128]:
# 2. 3의 배수의 합 구하기
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

In [176]:
# 3. 별 표시하기
i = 0
while True:
    i += 1
    if i == 6:    
        break
    print("*" * i)

*
**
***
****
*****

In [144]:
# 4. 1부터 100까지 출력하기
for i in range(1, 100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [154]:
# 5. 평균 점수 구하기
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += 715
average = total / 100
print(average)

71.5

In [170]:
# 6. 리스트 컴프리헨션 사용하기
'''
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n * 2)
'''

numbers = [1, 2, 3, 4, 5]
result = [n for n in numbers if n%2 == 1]
print(result)

[1, 3, 5]

In [22]:
# 테스트 타이머
import time as tt
for x in range(10):
    print(f"{('■')*x:□<10} {x*10}%",end="\r")
    tt.sleep(1)

■■■■■■■■■□ 90%

In [29]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.67.3-py3-none-any.whl.metadata (57 kB)
Downloading tqdm-4.67.3-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.67.3

In [30]:
# tqdm 프로그래스 시각화
from tqdm import tqdm
import time as tt
for x in tqdm(range(100)):
    pass
    tt.sleep(0.1)

100%|█████████████████████████████████████████████████████████████████████| 100/100 [00:10<00:00,  9.72it/s]

In [3]:
import time as tt
arr = []
length = 100 #*1000*1000
for x in range(length):
    arr.append(x)
arr_T = tuple(arr)
print(type(arr))
print(type(arr_T))

<class 'list'>
<class 'tuple'>

In [16]:
start = tt.time()
for a in arr:
    sample = [1,2,3,4,5]
else:
    print(tt.time() - start)

5.340576171875e-05

In [17]:
start2 = tt.time()
for a in arr_T:
    lts = (1,2,3,4,5)
else:
    print(tt.time() - start2)

4.458427429199219e-05

In [9]:
# 응용실습 (구구단 리스트컴프리핸션)
for p in [f"{y} x {x} = {y * x}" for y in range(2,10) for x in range(1, 10)]:print(p)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [11]:
# 큰수
arr = [11,33,77,2,4,6]
print(max(arr))
print(min(arr))

77
2

In [37]:
arr = [11,33,77,2,4,6]
print(max(arr))
print(min(arr))

print(arr.sort())

77
2
None

In [18]:
# 로또번호
import random as ran
box = [] # 6개
while len(box) < 6:
    rr = ran.randint(1,46)
    if rr in box:
        box.append(rr)
print(box)

[23, 29, 37, 28, 27, 15]

In [110]:
# 주사위의 눈금 조작. 3번을 16.x% -> 25%로 확률을 조작하라.
import random as ran
n = 0
box = []
cc = int(input("몇회 주사위를 던질까요?") or 12)
while n < cc:
    num = ran.randint(1,6)
    n += 1
    box.append(num)

if cc == len(box):
    print(f"{cc}회 정상 진행 되었습니다.")
    for n in range(1,7):
        print(f"주사위 눈금 {n}이 {box.count(n)}번 { ((box.count(n)/cc) * 100):0.2f}% 출현하였습니다.")
else:
    print(f"검증 결과 이상이 있습니다. {cc}회 목표로 동작하였으나, {len(box)}으로 측정되었습니다.")

몇회 주사위를 던질까요? 12

12회 정상 진행 되었습니다.
주사위 눈금 1이 0번 0.00% 출현하였습니다.
주사위 눈금 2이 1번 8.33% 출현하였습니다.
주사위 눈금 3이 3번 25.00% 출현하였습니다.
주사위 눈금 4이 4번 33.33% 출현하였습니다.
주사위 눈금 5이 1번 8.33% 출현하였습니다.
주사위 눈금 6이 3번 25.00% 출현하였습니다.

In [102]:
import random as ran
box = []
n = 0
cc = 10000
choice = int(input("조작할 확률 %를 입력하세요.") or 10) # 퍼센트 조절
my =  int(input("조작할 번호를 입력하세요.") or 3)

while n < cc:
    num = ran.randint(1,6)
    lucky = ran.randint(1,100)
    if choice > lucky:
        box.append(3)
    else:
        box.append(num)
    n += 1

if cc == len(box):
    print(f"{cc}회 정상 진행 되었습니다.")
    for n in range(1, 7):
        print(f"주사위 눈금 1이 {box.count(1)}번 { ((box.count(1)/cc) * 100):0.2f}% 출현하였습니다.")
else:
    print(f"검증 결과 이상이 있습니다. {cc}회 목표로 동작하였으나, {len(box)}으로 측정되었습니다.")

조작할 확률 %를 입력하세요. 25
조작할 번호를 입력하세요. 3

10000회 정상 진행 되었습니다.
주사위 눈금 1이 1260번 12.60% 출현하였습니다.
주사위 눈금 1이 1260번 12.60% 출현하였습니다.
주사위 눈금 1이 1260번 12.60% 출현하였습니다.
주사위 눈금 1이 1260번 12.60% 출현하였습니다.
주사위 눈금 1이 1260번 12.60% 출현하였습니다.
주사위 눈금 1이 1260번 12.60% 출현하였습니다.